<c-card class="mb-4">
  <c-card-header>
    Colores del tema
  </c-card-header>
  <c-card-body>
    <c-row>
      <app-theme-color color="primary">
        <h6>Color primario de la marca</h6>
      </app-theme-color>
      <app-theme-color color="secondary">
        <h6>Color secundario de la marca</h6>
      </app-theme-color>
      <app-theme-color color="success">
        <h6>Color del éxito de la marca</h6>
      </app-theme-color>
      <app-theme-color color="danger">
        <h6>Color de peligro de la marca</h6>
      </app-theme-color>
      <app-theme-color color="warning">
        <h6>Color de advertencia de la marca</h6>
      </app-theme-color>
      <app-theme-color color="info">
        <h6>Color de información de la marca</h6>
      </app-theme-color>
      <app-theme-color color="light">
        <h6>Color "Light" de la marca</h6>
      </app-theme-color>
      <app-theme-color color="dark">
        <h6>Color "Dark" de la marca</h6>
      </app-theme-color>
    </c-row>
  </c-card-body>
</c-card>
