<c-row>
  <c-col xs="12">
    <app-docs-callout href="charts">
      CoreUI Angular componente wrapper para Chart.js 4.4, la biblioteca de gráficos más popular.
      <br>
    </app-docs-callout>
  </c-col>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        Gráfico de Barras
      </c-card-header>
      <c-card-body>
        <c-chart type="bar" [data]="chartBarData" [options]="options" />
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        Grafico de Lineas
      </c-card-header>
      <c-card-body>
        <c-chart type="line" [data]="chartLineData" [options]="options" />
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        Gráfico de anillos
      </c-card-header>
      <c-card-body>
        <c-chart type="doughnut" [data]="chartDoughnutData" [options]="options" />
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        Gráfico circular
      </c-card-header>
      <c-card-body>
        <c-chart type="pie" [data]="chartPieData" [options]="options" />
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        Gráfico de área polar
      </c-card-header>
      <c-card-body>
        <c-chart type="polarArea" [data]="chartPolarAreaData" [options]="options" />
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        Gráfico de Radar
      </c-card-header>
      <c-card-body>
        <c-chart type="radar" [data]="chartRadarData" [options]="options" />
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
